body {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  width: 100%;
}

.menu {
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__content {
  width: 10%;
  height: 90px;
  font-size: 2em;
  margin: 0 3% 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: white;
  font-family: "Roboto", sans-serif;
}
.menu__a {
  width: 10%;
  height: 90px;
  font-size: 2em;
  margin: 0 0 0 3%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  color: white;
  font-family: "Roboto", sans-serif;
  transition: 0.5s ease-out;
  animation: fade-in 3s ease-in-out;
  text-decoration: none;
}
.menu__a:hover {
  color: rgb(94, 94, 94);
}

.acceuil {
  width: 100%;
  height: 1000px;
  padding: 0;
  margin: 0;
  background-color: #000000;
}
.acceuil__bg {
  background: radial-gradient(circle at 0% 0%, #FFEBAA 0%, 17.5%, rgba(255, 235, 170, 0) 35%), radial-gradient(circle at 8.9599609375% 78.1575520833%, #FFEBAA 0%, 17.5%, rgba(255, 235, 170, 0) 35%), radial-gradient(circle at 84.3977864583% 73.8704427083%, #000000 0%, 22.75%, rgba(0, 0, 0, 0) 35%), radial-gradient(circle at 100% 0%, #FFEBAA 0%, 7.7%, rgba(255, 235, 170, 0) 11%), radial-gradient(circle at 48.9013671875% 49.521484375%, rgba(255, 255, 255, 0) 0%, 100%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  height: 1000px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.acceuil__h1 {
  color: rgb(255, 225, 128);
  letter-spacing: 0.01em;
  font-size: 176px;
  margin: 0;
  animation: fade-in 3s ease-in-out;
}
.acceuil__h2 {
  color: white;
  font-size: 33px;
  letter-spacing: 0.2em;
  margin: 0;
}

.a-propos {
  width: 100%;
  height: 700px;
  background-color: #000000;
}
.a-propos__bg {
  background: radial-gradient(circle at 9.7981770833% 79.4108072917%, #000000 0%, 22.75%, rgba(0, 0, 0, 0) 35%), radial-gradient(circle at 82.1940104167% 100%, #FFEBAA 0%, 35%, rgba(255, 235, 170, 0) 50%), radial-gradient(circle at 48.9013671875% 49.521484375%, rgba(255, 255, 255, 0) 0%, 100%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  height: 740px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.a-propos__h2 {
  text-align: center;
  color: white;
  font-size: 33px;
  letter-spacing: 0.1em;
  margin: 0;
  padding-bottom: 16px;
}
.a-propos__p {
  line-height: 1.4em;
  text-align: center;
  font-size: 21px;
  color: rgb(191, 187, 187);
  margin-bottom: 32px;
}
.a-propos__grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.a-propos__grid__column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
}
.a-propos__grid__column__num {
  color: white;
  line-height: normal;
  text-align: center;
  font-size: 80px;
  margin: 0;
  overflow: hidden;
}
.a-propos__grid__column__p {
  font-size: 21px;
  color: rgb(191, 187, 187);
}

.projets {
  background-color: black;
  width: 100%;
  height: 1300px;
  margin: 0;
  padding: 0;
}
.projets__bg {
  background: radial-gradient(circle at 11.1865234375% 29.94140625%, #ffebaa 0%, 35%, rgba(255, 235, 170, 0) 50%);
  width: 100%;
  height: 1260px;
  overflow: hidden;
}
.projets__h2 {
  color: rgb(140, 140, 140);
  text-align: center;
  font-size: 40px;
  letter-spacing: 0.12em;
  margin: 0;
  padding-top: 64px;
}
.projets__column {
  margin-top: 48px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.projets__round {
  margin: 2px;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: rgb(140, 140, 140);
}
.projets__bloc__h3 {
  letter-spacing: 0.1em;
  color: rgb(255, 255, 255);
  font-size: 24px;
  padding-left: 32px;
  width: 300px;
}
.projets__bloc__img {
  width: 360px;
  position: relative;
}
.projets__bloc__img:hover img:nth-child(1) {
  opacity: 0;
  transition: ease 0.5s;
}
.projets__bloc__img:hover img:nth-child(2) {
  opacity: 1;
}
.projets__bloc--imgAfter {
  top: -160px;
  left: -30px;
}
.projets__bloc__img img:nth-child(2) {
  position: absolute;
  right: 0;
  opacity: 0;
  transition: ease 0.5s;
}
.projets__bloc__separateur {
  width: 284px;
  height: 5px;
  background-color: rgb(0, 234, 250);
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 32px;
}
.projets__bloc__num {
  text-align: right;
  font-size: 60px;
  color: white;
  position: absolute;
  bottom: 330px;
  left: 320px;
}
.projets__bloc__num2 {
  text-align: right;
  font-size: 60px;
  color: white;
  position: absolute;
  left: 280px;
  top: 70px;
}
.projets__bloc__num3 {
  text-align: right;
  font-size: 60px;
  color: white;
  position: absolute;
  left: 220px;
  bottom: 340px;
}
.projets__bloc--position1 {
  position: relative;
  left: 16%;
  bottom: 200px;
}
.projets__bloc--position2 {
  position: relative;
  left: 38%;
  bottom: 60px;
}
.projets__bloc--position3 {
  position: relative;
  left: 63%;
  bottom: 960px;
}

.services {
  width: 100%;
  height: 820px;
  background-color: #000000;
}
.services__bg {
  width: 100%;
  height: 820px;
  background: radial-gradient(circle at 2.1891276042% 0%, #000000 0%, 19.8%, rgba(0, 0, 0, 0) 66%), radial-gradient(circle at 50.1057942708% 100%, #FFEBAA 0%, 7.8%, rgba(255, 235, 170, 0) 26%), radial-gradient(circle at 48.9013671875% 49.521484375%, rgba(255, 255, 255, 0) 0%, 100%, rgba(255, 255, 255, 0) 100%);
}
.services__h2 {
  padding-top: 128px;
  margin: 0;
  color: rgb(140, 140, 140);
  text-align: center;
  letter-spacing: 0.15em;
  line-height: 1.4em;
  font-size: 40px;
}
.services__cube {
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 90%;
}
.services__bloc {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 33%;
}
.services__bloc__icon {
  font-size: 130px;
  color: rgb(255, 225, 128);
}
.services__bloc__h3 {
  padding-top: 32px;
  color: white;
  font-size: 21px;
  letter-spacing: 0.1rem;
}
.services__bloc__p {
  color: white;
  font-family: "Fredericka the Great", fantasy;
  text-align: center;
  margin: 16px;
}

.ekip {
  height: 800px;
  background-color: #000000;
  background-image: url("../img/ekip.webp");
  background-position: center;
  background-repeat: no-repeat;
}
.ekip__h2 {
  color: rgb(140, 140, 140);
  text-align: center;
  font-size: 40px;
  margin: 0;
  padding-top: 96px;
  letter-spacing: 0.15em;
}
.ekip__logo {
  display: flex;
  justify-content: center;
}
.ekip__logo__img {
  margin: 32px;
  object-fit: contain;
}

.reveal {
  opacity: 0;
}

.revealVisible {
  animation: reveal 1s ease-in-out 1s forwards;
}

@keyframes reveal {
  0% {
    opacity: 1;
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  }
  100% {
    opacity: 1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
