body {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    width: 100%;
}

.menu {
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__content {
        width: 10%;
        height: 90px;
        font-size: 2em;
        margin: 0 3% 0 0;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        color: white;
        font-family: 'Roboto', sans-serif;
    }
    &__a {
        width: 10%;
        height: 90px;
        font-size: 2em;
        margin: 0 0 0 3%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        color: white;
        font-family: 'Roboto', sans-serif;
        transition: .5s ease-out;
        animation: fade-in 3s ease-in-out;
        text-decoration: none;
        &:hover {
            color: rgb(94,94,94);
        }
    }
}

.acceuil {
    width: 100%;
    height: 1000px;
    padding: 0;
    margin: 0;
    background-color: #000000;
    &__bg {
        background: radial-gradient(circle at 0% 0%, #FFEBAA 0%, 17.5%, rgba(255,235,170,0) 35%), radial-gradient(circle at 8.9599609375% 78.15755208333334%, #FFEBAA 0%, 17.5%, rgba(255,235,170,0) 35%), radial-gradient(circle at 84.39778645833333% 73.87044270833333%, #000000 0%, 22.750000000000004%, rgba(0,0,0,0) 35%), radial-gradient(circle at 100% 0%, #FFEBAA 0%, 7.699999999999999%, rgba(255,235,170,0) 11%), radial-gradient(circle at 48.9013671875% 49.521484375%, rgba(255,255,255,0) 0%, 100%, rgba(255,255,255,0) 100%);
        width: 100%;
        height: 1000px;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__h1 {
        color: rgb(255,225,128);
        letter-spacing: 0.01em;
        font-size: 176px;
        margin: 0;
        animation: fade-in 3s ease-in-out;
    }
    &__h2 {
        color: white;
        font-size: 33px;
        letter-spacing: 0.2em;
        margin: 0;
    }
}

.a-propos {
    width: 100%;
    height: 700px;
    background-color: #000000;
    &__bg {
        background: radial-gradient(circle at 9.798177083333332% 79.41080729166666%, #000000 0%, 22.750000000000004%, rgba(0,0,0,0) 35%), radial-gradient(circle at 82.19401041666666% 100%, #FFEBAA 0%, 35%, rgba(255,235,170,0) 50%), radial-gradient(circle at 48.9013671875% 49.521484375%, rgba(255,255,255,0) 0%, 100%, rgba(255,255,255,0) 100%);
        width: 100%;
        height: 740px;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__h2 {
        text-align: center;
        color: white;
        font-size: 33px;
        letter-spacing: 0.1em;
        margin: 0;
        padding-bottom: 16px;
    }
    &__p {
        line-height: 1.4em;
        text-align: center;
        font-size: 21px;
        color: rgb(191,187,187);
        margin-bottom: 32px;
    }
    &__grid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        &__column {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 25%;
            &__num {
                color: white;
                line-height: normal;
                text-align: center;
                font-size: 80px;
                margin: 0;
                overflow: hidden;
            }
            &__p {
                font-size: 21px;
                color: rgb(191,187,187);
            }
        }
    }
}

.projets {
    background-color: black;
    width: 100%;
    height: 1260px;
    margin: 0;
    padding: 0;
    &__bg {
        background: radial-gradient(circle at 11.1865234375% 29.94140625%, #ffebaa 0%, 35%, rgba(255, 235, 170, 0) 50%);
        width: 100%;
        height: 1260px;
    }
    &__h2 {
        color: rgb(140,140,140);
        text-align: center;
        font-size: 40px;
        letter-spacing: 0.12em;
        margin: 0;
        padding-top: 64px;
    }
    &__column {
        margin-top: 48px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    &__round {
        margin: 2px;
        width: 4px;
        height: 4px;
        border-radius: 2px;
        background: rgb(140,140,140);
    }
    &__bloc {
        &--p { 
            z-index: 1;
        }
        &__h3 {
            letter-spacing: 0.1em;
            color: rgb(255,255,255);
            font-size: 24px;
            padding-left: 32px;
            position: relative;
        }
        &__img {
            width: 360px;
            position: relative;
            &:hover img:nth-child(1) {
                opacity: 0;
                transition: ease .5s;
            }
            &:hover img:nth-child(2) {
                opacity: 1;
            }
        }
        &__img img:nth-child(2) {
            position: absolute;
            right: 0;
            opacity: 0;
            transition: ease .5s;
        }
        &__separateur {
            width: 284px;
            height: 5px;
            background-color: rgb(0,234,250);
            border-radius: 10px;
            margin-bottom: 10px;
            margin-left: 32px;
        }
        &__num {
            text-align: right;
            font-size: 60px;
            color: white;
            position: absolute;
            bottom: 330px;
            left: 330px;
        }
        &__num2 {
            text-align: right;
            font-size: 60px;
            color: white;
            position: absolute;
            left: 300px;
            bottom: 60px;
        }
        &--position1 {
            position: relative;
            left: 22%;
            bottom: 200px;
        }
        &--position2 {
            position: relative;
            left: 40%;
            bottom: 100px;
        }
        &--position3 {
            position: relative;
            left: 60%;
            bottom: 900px;
        }
    }
}

.reveal {
    opacity: 0;
}

.revealVisible {
    animation: reveal 1s ease-in-out 1s forwards;
}

@keyframes reveal {
    0% {
        opacity: 1;
        clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    }
    100% {
        opacity: 1;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}